<div id="new-bill"></div>

<table>
  <tr>
    <th>Amount</th>
    <th>Description</th>
  </tr>
  <% bills.each(function(bill) { %>
    <tr>
        <td>
          $ <a href="/#/bills/<%= bill.escape('id') %>">
            <%= bill.escape('amount') %>
          </a>
        </td>
        <td>
          <a href="/#/bills/<%= bill.escape('id') %>">
            <%= bill.escape('description') %>
          </a>
        </td>
    </tr>
  <% }) %>
</table>