<form class="form" id="new-bill">
  <div class="form-group">
    <label for="bill_amount">Amount
    <input type='text' id="bill_amount" name='bill[amount]' class="form-control" placeholder="$0.00">
    </label>
  </div>

  <div class="form-group">
    <label>Description
      <input type='text' name='bill[description]' class="form-control" placeholder="(e.g. skydiving)">
    </label>
  </div>

  <div id="new-bill-share">
  </div>

  <div class="form-group">
    <a id="add-share-form" class="btn btn-success">+</a>
  <div>

  <br>

  <input type='submit' class="btn btn-primary">
</form>