<div class='row'>
  <div id='side-panel' class='col-sm-5 panel-group'>
    <div id='history'></div>
  </div>
  <div class="col-sm-7">
    <div class="container">
      <a id="toggle-new-bill-form" class="btn btn-info show-form" >
        [ + ] Split New Bill
      </a>

    </div>
      <div id="new-bill" ></div>
    <br>

    <div id='summary'></div>
  </div>
</div>
