<a id="toggle-new-bill-form" class="btn btn-info show-form" >
  [ + ] Split New Bill
</a>

<div id="new-bill" ></div>

<a id="toggle-new-payment-form" class="btn btn-info show-form" >
  [ + ] Record New Payment
</a>

<div id="new-payment"></div>

<div id='summary'></div>
