<div class='row'>
  <div id='side-panel' class='col-sm-5 panel-group'>
    <div id='history'></div>
  </div>
  <div class="col-sm-7">
    <a id="toggle-new-bill-form" class="btn btn-info show-form" >
      [ + ] Split New Bill
    </a>
    <div id="new-bill" ></div>
    <br>

    <a id="toggle-new-payment-form" class="btn btn-info show-form" >
      [ + ] Record New Payment
    </a>
    <div id="new-payment"></div>
    <br>

    <div id='summary'></div>
  </div>
</div>
