<script charset="utf-8">
    $(document).ready(function(){
      BillSplitr.currentUser = new BillSplitr.Models.User({
        id: "<%= current_user.id %>"
      });
    });
</script>

<div id="content">
</div>
