<input type="hidden"
  name="bill[bill_shares_attributes][<%= count %>][debtor_id]"
  value="<%= user.id %>"
  >

<div class="row">
  <div class="col-xs-1">
    <a class=".remove-billshare">&times;</a>
  </div>
  <div class="col-xs-5">
    <span class="bill-share-user">
      <%= user.escape('f_name') + ' ' + user.escape('l_name') + ' - ' + user.escape('email')%>
    </span>
  </div>
  <div class="col-xs-2">
    <input type="text"
          name="bill[bill_shares_attributes][<%= count %>][amount]"
          class="form-control share-amount"
          placeholder="Amount">
  </div>
</div>
