<input type="hidden"
  name="bill[bill_shares_attributes][<%= count %>][debtor_id]"
  value="<%= user.id %>"
  >
<br>
<div class="row">
  <div class="col-xs-1">
    <a class="remove-billshare btn btn-default">&times;</a>
  </div>
  <div class="col-xs-7">
    <span class="bill-share-user">
      <%= user.displayName() %>
    </span>
  </div>
  <div class="col-xs-4">
    <input type="text"
          name="bill[bill_shares_attributes][<%= count %>][amount]"
          class="form-control share-amount"
          placeholder="Amount">
  </div>
</div>