<a id="toggle-new-payment-form" class="btn btn-info show-form" >
  [ + ] Record New Payment
</a>

<div id="new-payment"></div>

<h2>All Payments</h2>

<table class="table table-compact">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Sent From</th>
    <th>Received By</th>
  </tr>
  <% payments.each(function(payment) { %>
    <tr>
        <td>
          <%= payment.escape('date') %>
        </td>
        <td>
          $ <%= payment.escape('amount') %>
        </td>
        <td>
            <%= payment.sender().escape('email') %>
        </td>
        <td>
            <%= payment.receiver().escape('email') %>
        </td>
    </tr>
  <% }) %>
</table>