<div id='errors'></div>

<ul id="form-type" class="nav nav-tabs">
  <li class='active'><a data-id='from-user'>From Me</a></li>
  <li><a data-id='to-user'>To Me</a></li>
</ul>

<br>

<form id="new-payment">

  <div class="row">
    <label for="payment_amount" class="col-sm-2">Amount</label>
    <div class="col-sm-4">
      <input id="payment_amount"
        type="number"
        min='0'
        step='.01'
        name="payment[amount]"
        class="form-control"
        placeholder="$100.00">
    </div>

    <div id='payment-date'>
      <label for="payment_date" class="col-sm-2">Date</label>
      <div class="col-sm-4">
        <input type='text' name='payment[date]' class='form-control' placeholder='Date'>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <label id='user-select' for="user_id" class='col-sm-2'>To</label>
    <div class='col-sm-10'>
      <select class="form-control" name="user_id" id="user_id">
        <option value="">Select a Friend</option>
        <% users.forEach(function(user){ %>
          <option value="<%= user.escape('id') %>">
            <%= user.escape('f_name') + ' ' +user.escape('l_name') %>
            (<%= user.escape('email') %>)
          </option>
        <% }) %>
      </select>
    </div>
  </div>

  <br>

  <input type="submit" value="Record Payment" class="btn btn-primary">
</form>
