<p><%= sender.escape('email') %> paid $<%=amount %> to <%= receiver.escape('email') %></p>
<button class="btn btn-default">Cancel</button>
<button class="btn btn-primary" id="submit-payment">Record Payment</button>
