/*#share-type-slider {
  height: 30px;
  width: 150px;
  background: green;
  display: block;
  position: relative;
  overflow: hidden;
}

#share-type-slider a {
  content: '';
  height: 30px;
  width: 50px;
  background: white;
  position: absolute;
  top: -1px;
  padding-left: 100px;
}

#share-type-slider a::before {
  content: 'before';
  background: blue;
  height: 30px;
  width: 80px;
  position: absolute;
  margin-left: -130px;
}

#share-type-slider a::after {
  content: 'after';
  height: 30px;
  width: 50px;
  background: black;
  position: absolute;
}


#slider-text {
  color: white;
}*/


/*.ui-slider .ui-slider-handle{
    width:50px;
    height:50px;
    background:url(../images/slider_grabber.png) no-repeat; overflow: hidden;
    position:absolute;
    top: -10px;
    border-style:none;
}*/
