body, html {
  width: 100%
}

h1, h2, h3{
  text-align: center;
}


.modal-body {
  text-align: center;
}

.div-title {
  position: relative;
  top: 30px;
  background: white;
  display: inline;
}


.bordered-table {
  margin: 10px;
  padding: 30px;
  border: solid black;
  overflow: scroll;
}
