.btn-info {
  float: left;
  display: inline-block;
  margin: 15px;
}

div.bills-index {
  cursor: pointer;
}

.bill-share-table {
  margin: 10px;
}

.div-title {
  position: relative;
  top: 30px;
  background: white;
  display: inline;
}

.bordered-table {
  margin: 10px;
  padding: 30px;
  border: solid;
}

#pos-balance-table {
  border: solid #3fad46;
}

#neg-balance-table {
  border:  solid #d9534f;
}

.balance-header-row {
  background: #ecf0f1;
  padding: 5px;
  padding-top: 8px;
}

.user-balance-row {
  padding: 5px;
  padding-top: 8px;
}

.user-balance-row:hover {
  background: #ecf0f1;
}
